@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    width: 100vw;
    min-height: 100vh;
    background: #4a536b;
}

.logo {
    color: #ffea04;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    width: max-content;
}

.viewPort {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.CodeMirror {
    min-height: 40px;
}

.CodeMirror-lines {
    margin-bottom: 15px;
}