* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    width: 100vw;
    min-height: 100vh;
    background: #4a536b;
}

.viewPort {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

.CodeMirror {
    min-height: 40px;
}

.CodeMirror-lines {
    margin-bottom: 15px;
}